mat-tab-group
{
    display: flex;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px #000;

}

.box
{
    height: 200px;
    margin: 10px;
    float: left;
    width: 30%;
    text-align: center;
    font-size: 17px;

    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px #000;
}

.buttonSub
{
    padding: 50px;
    font-size: 25px;
    width: 25%;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px #000;
    margin-left: 45%;
    margin: 10px;
    text-decoration: dashed;
    color: rgb(80, 71, 71);
 
}

.linAdi{
    margin-left: 45%;
    margin: 5px;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px #000;
    width: 15%;
    margin: 0 auto;

   
}

 .limp{
    margin-left: 45%;
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px #000;
    width: 25%;
}

.limp2{
    margin-left: 45%;
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px #000;
    width: 25%;
}

.h3{
    margin-left: 45%;
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px #000;
    width: 25%;
}

.ele{
    margin-left: 45%;
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px #000;
    width: 25%;
}


