<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Formulario 1">
        <form [formGroup]="form">
            <div class="container" formArrayName="listatexto">
                <div class="box" *ngFor="let t of getListaform1.controls; let i = index " [formGroupName]="i">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="" (keyup)="ponerValor($event,i)" formControlName="texto">
                    </mat-form-field>
                    <br>
                    <input class="btn" type="button" formControlName="buttonValue">
                </div>
            </div>
            <div class="containerBut">
                <button class="buttonSub" mat-button (click)="guardarAForm2()">Guardar</button>
            </div>
        </form>
    </mat-tab>
    <mat-tab label="Formulario 2">
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option *ngFor="let texto of lista;let i =index" [value]="texto" (click)="eliminar(i)">
                {{texto}}
            </mat-list-option>
        </mat-selection-list>
        <div class="linAdi">
            <button mat-raised-button class="limp" (click)="clear()">Limpiar</button>
            <button mat-raised-button class="limp2" (click)="addAll()">Agregar</button>

        </div>
    </mat-tab>

   
   
    <mat-tab label="Formulario 3">

      <div class="ele"> 
        <h3>Elementos:</h3>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let texto of listaOficial; let i = index">{{i+1}}.- {{texto}}
                </mat-list-item>
            </mat-list>
         </div> 
    </mat-tab>

 

</mat-tab-group>
